@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

.logo-shadow {
  text-shadow: 1.2px 1.2px 0px #ff9d45;
}

/* Range Styling */
.range-input {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #757575;
  border-radius: 5px;
  outline: none;
}

/* Thumb Styles */
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff9d45;
  border: 2px, solid, white;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff9d45;
  border: 2px, solid, white;
  cursor: pointer;
}

.custom-input {
  padding: 5px;
  font-size: 16px;
}

/* Hide number input arrows */
.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input {
  -moz-appearance: textfield; /* Firefox */
}

/* Remove focus/active ring */
.custom-input:focus,
.custom-input:active {
  outline: none;
  box-shadow: none;
}
